@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300|Merriweather|Playfair+Display');
h1 {
  font-size: 30px;
  font-weight: 300;
  font-family: 'Playfair+Display', serif;
  letter-spacing: 10px;
  padding-left: 20px;
  text-align: center;
}
h2 {
  font-size: 20px;
  font-weight: lighter;
  font-family: 'Josefin+Sans', sans-serif;
  padding-left: 20px;
}
dt {
  font-family:  'Playfair+Display', serif;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
}
body {
  background-color: #fcf6ef;
}
#navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  margin-top: -10px;
  width: 100%;
}


#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}
.content {
  margin-top: 40px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky + .content {
  padding-top: 60px;
}

a {
  font-size: 15px;
  font-family: 'Playfair+Display', serif;
  letter-spacing: 8px;
  color: #444444;
  text-align: center;
  text-decoration: none;
}
a:hover {
  background-color: #fcf6ef;

}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}
.container:hover .overlay {
  opacity: 1;
}
.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
